<div class="row">
  <div class="col-sm-12">
    <div style="margin-bottom:0;" class="box bordered-box blue-border">
      <div class="box-header blue-background">
        <div class="title">Listado de Submenus</div>
        <div class="actions">
          <a href="#" class="btn box-collapse btn-xs btn-link"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-no-padding">
        <div class="responsive-table">
          <div class="scrollable-area">
            <table class='data-table-column-filter table table-bordered table-striped'>
              <!-- we need thead because of ordering controls -->
              <thead>
                <tr>
                  <th width="10%">#</th>
                  
                    
                      <th>denominacion</th>
                    
                  
                    
                      <th>icono</th>
                    
                  
                    
                      <th>enlace</th>
                    
                  
                    
                      <th>menu</th>
                    
                  
                    
                  
                  <th width="11%">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% @submenus.each do |s| %>
                  <tr>
                    <td width="10%"><%= s.id %></td>
                    
                      
                        
                          <td><%= s.denominacion %></td>
                        
                      
                    
                      
                        
                          <td><%= s.icono %></td>
                        
                      
                    
                      
                        
                          <td><%= s.enlace %></td>
                        
                      
                    
                      
                        
                          <td><%= s.menu.denominacion %></td>                  
                        
                      
                    
                      
                    
                    <td width="11%">
                      <div class="text-right">                     
                      <%= link_to edit_submenu_path(s), id: "Editar", class: "btn btn-success btn-xs" do %> 
                        <i class="icon-edit"></i>
                      <% end %>
                      <%= link_to submenu_path(s), method: :delete, data: { confirm: "¿Seguro que quieres borrar esta Submenu?"}, id: "Borrar", class: "btn btn-danger btn-xs" do %>
                      <i class="icon-remove"></i>
                      <% end %>
                      </div>
                    </td>
                    </tr>
                  <% end %>                  
                </tbody>        
                <tfoot>
                  <tr>
                    <th>Id</th>
                    
                    
                      <th>denominacion</th>
                    
                  
                    
                      <th>icono</th>
                    
                  
                    
                      <th>enlace</th>
                    
                  
                    
                      <th>menu</th>
                    
                  
                    
                  
                     
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>