<div class="row">
  <div class="col-sm-6">
    <div class="box">
      <div class="box-header">
        <div class="title">
          Solicitudes
        </div>
        <div class="actions">
          <a href="#" class="btn box-remove btn-xs btn-link"><i class="icon-remove"></i>
          </a>

          <a href="#" class="btn box-collapse btn-xs btn-link"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content">
        <div id='stats-chart7' style="width:500px;height:200px"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <div class="box-header">
        <div class="title">
          Navegadores
        </div>
        <div class="actions">
          <a href="#" class="btn box-remove btn-xs btn-link"><i class="icon-remove"></i>
          </a>

          <a href="#" class="btn box-collapse btn-xs btn-link"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content">
        <div id='stats-chart8' style="width:500px;height:200px"></div>
      </div>
    </div>
  </div>
</div>


<div class="col-sm-12">
  <div class="box">
    <div class="box-header">
      <div class="title">
        Solicitudes por día
      </div>

    </div>
    <div class="box-content" id="tabla_totales">
      <table class="table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Número de Solicitudes</th>

          </tr>
        </thead>
        <% @totales_solicitudes.each do |t| %>
          <tr>
            <td><%= t[0].strftime("%d-%m-%Y") %> </td>
            <td><%= t[1] %> </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

</div>