<div class="row">
  <div class="col-sm-3">
    Solicitudes Nuevas: <%= @solicitudes_nuevas %>
  </div>
  <div class="col-sm-3">
    Solicitudes Verificadas: <%= @solicitudes_verificadas %>
  </div>
  <div class="col-sm-3">
    Solicitudes en PDF: <%= @solicitudes_pdf %>
  </div>
  <div class="col-sm-3">
    Media del proceso <%= @media_proceso %> segundos
  </div>
</div>