<table class="table">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Número de Solicitudes</th>

    </tr>
  </thead>
  <% @totales_solicitudes.each do |t| %>
    <tr>
      <td><%= t[0].strftime("%d-%m-%Y") %> </td>
      <td><%= t[1] %> </td>
    </tr>
  <% end %>
</table>