var dataset2 = [
{"label": "Android (<%= (@totales["Android"] * 100.0 / @numero_total_solicitudes).round(2) %>%)", "data": <%= @totales["Android"] %> },
{"label": "BlackBerry (<%= (@totales["BlackBerry"] * 100.0 / @numero_total_solicitudes).round(2) %>%)", "data": <%= @totales["BlackBerry"] %>},
{"label": "Chrome (<%= (@totales["Chrome"] * 100.0 / @numero_total_solicitudes).round(2) %>%)", "data": <%= @totales["Chrome"] %>},
{"label": "Firefox (<%= (@totales["Firefox"] * 100.0 / @numero_total_solicitudes).round(2) %>%)", "data": <%= @totales["Firefox"] %>},
{"label": "Internet Explorer (<%= (@totales["Internet Explorer"] * 100.0 / @numero_total_solicitudes).round(2) %>%)", "data": <%= @totales["Internet Explorer"] %>},
{"label": "iPad (<%= (@totales["iPad"] * 100.0 / @numero_total_solicitudes).round(2) %>%)", "data": <%= @totales["iPad"] %>},
{"label": "iPhone (<%= (@totales["iPhone"] * 100.0 / @numero_total_solicitudes).round(2) %>%)", "data": <%= @totales["iPhone"] %>},
{"label": "Opera (<%= (@totales["Opera"] * 100.0 / @numero_total_solicitudes).round(2) %>%)", "data": <%= @totales["Opera"] %>},
{"label": "Safari(<%= (@totales["Safari"] * 100.0 / @numero_total_solicitudes).round(2) %>%)", "data": <%= @totales["Safari"] %>},
{"label": "Otros (<%= (@totales["Other"] * 100.0 / @numero_total_solicitudes).round(2) %>%)", "data": <%= @totales["Other"] %>},
];

var options2 = {
series: {
pie: {show: true}
}
};


var dataset3 = [
    {data: [
            <% @i = 1 %>
            <% @totales_solicitudes.each do |t| %>
            [<%= @i %> ,<%= t[1] %>],
            <% @i = @i + 1 %>

            <% end %>
    
    ]}
];


options3 = {
        series: {
            shadowSize: 1
        },
        yaxis: {
            min: 0,
            max: 22000,
            label: "Solicitudes"
        },
        xaxis: {
            show: true,
            min: 1,
            max: 24,
            label: "Días"
        },
        bars: {
            show: true,
        }
    };

plot2 = $.plot($("#stats-chart8"), dataset2, options2);
plot3 = $.plot($("#stats-chart7"), dataset3, options3);

$('#tabla_totales').html('<%= escape_javascript(render("tabla_totales")) %>');