<div class="row">
  <div class="col-sm-12">
    <div class="page-header">

      <!-- page title -->
      <h1 class="pull-left">
        <i class="icon-dashboard"></i>
        <span>Dashboard</span>
      </h1>
      <!-- breadcrumbs -->
      <%= render 'layouts/miguitas' %>
    </div>
  </div>
  <%= render "layouts/mensajes" %>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class='row'>
      <div class='col-sm-12'>
        <div class='box'>
          <div class='box-header'>
            <div class='title'>
              Solicitudes en tiempo real
            </div>
            <div class='actions'>
              <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
              </a>

              <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
              </a>
            </div>
          </div>
          <div class='box-content'>
            <div id='stats-chart3' style="width:900px;height:200px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class='row'>
      <div class='col-sm-12'>
        <div class='box'>
          <div class='box-header'>
            <div class='title'>
              Solicitudes
            </div>
            <div class='actions'>
              <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
              </a>

              <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
              </a>
            </div>
          </div>
          <div class='box-content'>
            <div id="datos">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "estadisticas" %>