var dataset = [
{ label: "Solicitudes Nuevas", data: getRandomData(1, <%= @solicitudes_nuevas %>) },
{ label: "Solicitudes Verificadas", data: getRandomData(2, <%= @solicitudes_verificadas %>) },
{ label: "Solicitudes en PDF", data: getRandomData(3, <%= @solicitudes_pdf %>) }
];
plot.setData(dataset);
plot.draw();
$('#datos').html('<%= escape_javascript(render("real")) %>');