<div class="box">
  <div class="box-content">
    <div class="btn-toolbar">
      <div class="btn-group dropdown">

        <%= link_to new_menu_path do %>
        <button class="btn btn-primary btn-sm">
          <i class="icon-user"></i>
          Nuevo Menu
        </button>
        <% end %>

      </div>
    </div>
  </div>
</div>