<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-header blue-background">
        <% if params[:action] == "new" %>
        <div class="title">Nuevo Informix</div>
        <% else %>
        <div class="title">Editar Informix</div>
        <% end %>
        <div class="actions">
          <a href="#" class="btn box-collapse btn-xs btn-link"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content">        
        <%= form_for @informix, :html => {:novalidate => 'novalidate', class: "form form-horizontal validate-form"} do |f| %>
        
          
            
              <div class="form-group">
                <%= f.label :concurso_id, class: "control-label col-sm-3 col-sm-3" %>
                <div class="col-sm-4 controls">
                  <%= f.collection_select :concurso_id, Categoria.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
                </div>
              </div>
            
          
        
          
            
              <div class="form-group">
                <%= f.label :turno_id, class: "control-label col-sm-3 col-sm-3" %>
                <div class="col-sm-4 controls">
                  <%= f.collection_select :turno_id, Turno.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
                </div>
              </div>
            
          
        
          
            
              
                
                <div class="form-group">
                  <%= f.label :codigo, class: "control-label col-sm-3 col-sm-3" %>
                  <div class="col-sm-4 controls">
                    <%= f.text_field :codigo, class: "form-control", placeholder: "Introduce el codigo", "data-rule-required" => "true", "data-rule-minlength" => "2" %>
                  </div>
                </div>
                
              
            
          
        
          
            
              
            
          
        
        <div class="form-actions">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
              <%= f.submit class: "btn btn-primary" do %>
              <i class="icon-save"></i>            
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>