<div class="row">
  <div class="col-sm-12">
    <div class="page-header">

      <!-- page title -->
      <h1 class="pull-left">
        <i class="icon-table"></i>
        <span><%= @constructor %></span>
      </h1>

      <!-- breadcrumbs -->
      <%%= render 'layouts/miguitas' %>
    </div>
  </div>
  <%%= render "layouts/mensajes" %>
  <%%= render "boton_nuevo" %>
</div>
  <%%= render '<%= @variables %>' %>
