<% if Concurso.where(id: params[:id]).first.categoria.permiso_id > 0 %>
<div class="form-group">
  <%= label_tag "Permiso de Conducción" %>
  <%= collection_select :solicitud, :permiso_id, Permiso.where(id: Concurso.where(id: params[:id]).first.categoria.permiso_id), :id,:denominacion, {:prompt => 'Selecciona el permiso'}, {:class => "form-control"} %>      
</div>
<% else %>
<div class="form-group">
      
</div>
<% end %>