<div class="col-md-2">
  <div class="form-group">
    <%= label_tag :codigo, "Código Categoría" %>
    <input type="text" class = "form-control" value="<%= Informix.where("concurso_id = ? and turno_id = ?", Concurso.where(categoria_id: params[:id]).first.id, params[:subid]).first.codigo %>" disabled>
  </div>
</div>
<div class="col-md-2">
  <div class="form-group">
    <%= label_tag :fecha_doe, "Fecha DOE" %>
    <input type="text" class = "form-control" value="<%= Concurso.activo.joins("inner join categorias on concursos.categoria_id = categorias.id").where("categorias.id = ?", params[:id]).first.convocatoria.fecha_doe.strftime("%d-%m-%Y") %>" disabled>
  </div>
</div>