<div class="form-group">
  <%= label_tag "Turno" %>
  <%= collection_select :solicitud, :turno_id, Concurso.activo.where(id: params[:id]).first.turnos.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
</div>