<% if @turno_id %>
 <div class="form-group">
    <%= label_tag "Titulación" %>
    <%= collection_select :solicitud, :titulacion_id, Concurso.activo.where(id: @concurso_id).first.titulaciones.where("concursos_titulaciones.turno_id = ?", @turno_id).order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>      
  </div>
<% else %>
  <div class="form-group">
    <%= label_tag "Titulación" %>
    <%= collection_select :solicitud, :titulacion_id, Concurso.activo.where(id: params[:id]).first.titulaciones.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>      
  </div>
<% end %>