<% Concurso.find(params[:id]).zonas.each do |z| %>
  <div class="col-md-3">
    <% if z.denominacion == "RENUNCIA" %>
      <%= check_box_tag("RENUNCIA", z.id) %>            
    <% else %>
      <%= check_box_tag("zona[]", z.id) %>
    <% end %>
    <%= label_tag :zona, z.denominacion, class: "small" %>
    </div>
  <% end %>