<%= collection_select :solicitud, :concurso_id, Concurso.activo.joins("inner join categorias on concursos.categoria_id = categorias.id").where("categorias.tasa_id = ?", params[:id]),:id,:con, {}, {:class => "form-control"} %>