<div class="form-group">
  <%= label_tag "Municipio" %>
  <%= collection_select :solicitud, :municipio_id, Municipio.where(provincia_id: params[:id]).order(:denominacion),:id,:denominacion, {:prompt => 'Selecciona un Municipio'}, {:class => "form-control"} %>      
</div>