<div class="form-group">
  <%= collection_select :concurso, :id, Concurso.joins("inner join categorias on concursos.categoria_id = categorias.id").where("categorias.tasa_id = ?",params[:grupo]),:id,:con, {:prompt => 'Selecciona un Concurso'}, {:class => "form-control"} %>
</div>