<div class='box-content'>
  <%= form_for(@solicitud) do |f| %>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :turno, "Turno" %>
          <input type="text" class = "form-control" value="<%= @solicitud.turno.denominacion %>" disabled>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :turno, "Carta de Pago" %>
          <input type="text" class = "form-control" value="<%= @solicitud.pago.carta + " " + @solicitud.pago.verificacion %>" disabled>
        </div>
      </div>
    </div>
    <h3>1. Convocatoria.</h3>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :concurso, "Concurso" %>
          <input type="text" class = "form-control" value="<%= @solicitud.concurso.categoria.denominacion %>" disabled>
        </div>
      </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= f.label :codigo, "Código Categoría" %>
            <%
            categoria = @solicitud.concurso.id
            turno = @solicitud.turno.id
            categoria_informix = Informix.where("concurso_id = ? and turno_id = ?", categoria, turno).first.codigo
            %>
            <input type="text" class = "form-control" value="<%= categoria_informix %>" disabled>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <%= f.label :fecha_doe, "Fecha DOE" %>
            <input type="text" class = "form-control" value="<%= Convocatoria.first.fecha_doe.strftime("%d-%m-%Y") %>" disabled>
          </div>
        </div>
    </div>
    <h3>2. Datos Personales.</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :apellido1, "Primer Apellido" %>
          <%= f.text_field :apellido1, class: "form-control", placeholder: "Introduce el Primer Apellido", disabled: true %>     
          </div>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <%= f.label :nif, "NIF/NIE" %>
            <%= f.text_field :nif, class: "form-control", placeholder: "Introduce el Nif", disabled: true %>     
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :apellido2, "Segundo Apellido" %>
              <%= f.text_field :apellido2, class: "form-control", placeholder: "Introduce el Segundo Apellido", disabled: true %>     
              </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <%= f.label :apellido2, "Fecha de Nacimiento" %>
                <%= f.text_field :fecha_nacimiento, value: @solicitud.fecha_nacimiento.strftime("%d-%m-%Y"), class: "form-control", disabled: true %>  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :nombre, "Nombre" %>
                  <%= f.text_field :nombre, class: "form-control", disabled: true %>     
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-group">
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <%= f.label :telefono, "Teléfono 1" %>
                    <%= f.text_field :telefono, class: "form-control", disabled: true %>     
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= f.label :domicilio, "Domicilio:" %>
                      <%= f.text_field :domicilio, class: "form-control", disabled: true %>     
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="form-group">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <%= f.label :movil, "Teléfono 2" %>
                        <%= f.text_field :movil, class: "form-control", disabled: true %>     
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3">   
                        <div class="form-group">
                          <%= f.label "Provincia" %>
                          <input type="text" class = "form-control" value="<%= @solicitud.municipio.provincia.denominacion %>" disabled>
                        </div>
                      </div>
                      <div class="col-md-3"> 
                        <div class="form-group">
                          <%= f.label :municipio, "Municipio" %>
                          <input type="text" class = "form-control" value="<%= @solicitud.municipio.denominacion %>" disabled>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="form-group">
                          <%= f.label :codigo_postal, "Código postal" %>
                          <%= f.text_field :codigo_postal, class: "form-control", disabled: true %>     
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <%= f.label :nacionalidad, "Nacionalidad" %>
                            <input type="text" class = "form-control" value="<%= @solicitud.nacionalidad.denominacion %>" disabled>
                          </div>
                        </div>

                        <div class="col-md-2">
                          <div class="form-group">
                            <%= f.label :sexo, "Sexo" %>
                            <input type="text" class = "form-control" value="<%= @solicitud.sexo.denominacion %>" disabled>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                      </div>
                      <h3>3. Titulación Académica.</h3>
                      <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                              <%= f.label :titulacion, "Titulación" %>
                              <input type="text" class = "form-control" value="<%= @solicitud.titulacion.denominacion %>" disabled>
                            </div>
                        </div>     
                      </div>
                      <h3>4. Tipo de permiso de conducción.</h3>
                      <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                              <%= f.label :permiso, "Tipo permiso" %>
                              <% if @solicitud.permiso %>
                                <input type="text" class = "form-control" value="<%= @solicitud.permiso.denominacion %>" disabled>
                              <% else %>
                                <input type="text" class = "form-control" value="---" disabled>
                              <% end %>
                            </div>
                        </div>     
                      </div>
                      <h3>5. Turno de discapacidad.</h3>
                      <div class="row">
                        <div class="col-md-2">
                          <div class="form-group">
                            <%= f.label :grado, "Grado %" %>
                            <%= f.text_field :grado, class: "form-control", disabled: true %>     
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="form-group">
                              <%= f.label :descripcion_discapacidad, "Descripción Discapacidad" %>
                              <%= f.text_field :descripcion_discapacidad, class: "form-control", disabled: true %>     
                              </div>
                            </div>
                            <div class="col-md-5">
                              <div class="form-group">
                                <%= f.label :adaptcion, "Adaptación que solicita" %>
                                <%= f.text_field :adaptacion, class: "form-control", disabled: true %>     
                                </div>
                              </div>
                            </div>
                            <h3>6. Zona a que opta para lista de espera.</h3>
                            <div class="row">
                                <% @solicitud.concurso.zonas.each do |z| %>
                                  <div class="col-md-3">

                                    <%= check_box_tag "zona[]", z.id, @solicitud.zonas.include?(z), disabled: "disabled" %>
                                    <%= f.label :zona, z.denominacion, class: "small" %>
                                    </div>
                                  <% end %>
                              </div>
                            <h3>Historial de Estados</h3>
                            <div class="row">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th>Estado</th>
                                    <th>Fecha</th>
                                    <th>Usuario</th>
                                    <th>Motivo</th>

                                    </tr>
                                    <% @historicos.each do |h| %>
                                    <tr>
                                      <td><%= h.estado.denominacion %></td>
                                      <td><%= h.created_at.strftime("%d-%m-%Y %H:%M") %></td>
                                      <td><%= h.usuario.nombre %> <%= h.usuario.apellidos %></td>
                                      <td><%= h.motivos_rechazo %></td>
                                    </tr>
                                    <% end %>
                                </thead>
                              </table>
                              </div>
                              <p></p>

                            <% end %>
                          </div>