<div class="form-group">
  <%= label_tag :fecha_nacimiento, "Fecha de Nacimiento" %>              
  <%= text_field_tag :fecha_nacimiento,nil, class: "form-control", "data-mask" => "99/99/9999" %>
  </div>