<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-header blue-background">
        <div class="title">Verificar Carta de Pago</div>
        <div class="actions">
          <a href="#" class="btn box-collapse btn-xs btn-link"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content">        
        <%= form_for :verificar, method: "POST",:html => {id: "formulario_verificar", class: "form form-horizontal"} do |f| %>
                     
                
            
                            
                <div class="form-group">
                  <%= f.label "Verificar Carta de Pago", class: "control-label col-sm-3 col-sm-3" %>
                  <div class="col-sm-4 controls">
                    <%= f.number_field :carta_pago, class: "form-control input-lg", placeholder: "Introduce la Carta de Pago" %>
                  </div>
                </div>
              
          
        
        
        <div class="form-actions">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
              <%= f.submit "Verificar", class: "btn btn-primary" do %>
              <i class="icon-save"></i>            
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>