<%= form_for(@solicitud, html: {id: "new_solicitud"}) do |f| %>
    
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= flash[:alert] %>
    <% if @solicitud.errors.any? %>
      <div id="error_explanation">
        <%= pluralize(@solicitud.errors.count, "error") %>
          debe corregirse:
        <ul>
          <% @solicitud.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>

<div class="page-header">
      <h3>Grupo.</h3>
    </div>
  <div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <%= f.label :tasa, "Grupo" %>
          <%= collection_select :tasa, :id, Tasa.all,:id,:denominacion, {:selected => @solicitud.concurso.categoria.tasa_id}, {:class => "form-control"} %>      
        </div>
      </div>
    </div>    
<div class="page-header">
      <h3>Convocatoria.</h3>
    </div>
  <div class="row">
    <div class="col-md-4">
        <div class="form-group">       
          <%= f.label :convocatoria, "Categoría" %>
          <div id="concursos_grupo">
            <%= f.collection_select :concurso_id, Concurso.activo.joins("inner join categorias on concursos.categoria_id = categorias.id").where("categorias.tasa_id = ?", @solicitud.concurso.categoria.tasa_id),:id,:con, {}, {:class => "form-control"} %>
          </div>
        </div>
      </div>
    <div id="convocatoria">
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :codigo, "Código Categoría" %>
          <input type="text" class = "form-control" value="<%= codigo_categoria %>" disabled>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :fecha_doe, "Fecha DOE" %>
          <input type="text" class = "form-control" value="<%= Concurso.activo.joins("inner join categorias on concursos.categoria_id = categorias.id").where("categorias.tasa_id = ?", @solicitud.concurso.categoria.tasa_id).first.convocatoria.fecha_doe.strftime("%d-%m-%Y") %>" disabled>
        </div>
      </div>
    </div>
    </div>
<div class="row">
    <div class="col-md-3">
       <div id="turnos">
        <div class="form-group">      
          <%= f.label :turno, "Turno" %>
          <%= f.collection_select :turno_id, Concurso.activo.joins("inner join categorias on concursos.categoria_id = categorias.id").where("categorias.tasa_id = ?", @solicitud.concurso.categoria.tasa_id).first.turnos,:id,:denominacion, {}, {:class => "form-control"} %>
        </div>
       </div>
      </div>
    </div>
    <div class="page-header">
      <h3>Datos Personales.</h3>
    </div>
      <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :apellido1, "Primer Apellido" %>
          <%= f.text_field :apellido1, class: "form-control", placeholder: "Introduce el Primer Apellidos" %>     
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :nif, "NIF/NIE" %>
          <%= f.text_field :nif, class: "form-control", placeholder: "9 dígitos y letra incluyendo los ceros que tenga delante" %>     
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :apellido2, "Segundo Apellido" %>
          <%= f.text_field :apellido2, class: "form-control", placeholder: "Introduce el Segundo Apellidos" %>     
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
        <div id="fecha_nacimiento">
          <div class="form-group">
            <%= f.label :fecha_nacimiento, "Fecha de Nacimiento" %>              
            <%= text_field_tag :fecha_nacimiento, @solicitud.fecha_nacimiento.strftime("%d/%m/%Y"), class: "form-control", "data-mask" => "99/99/9999" %>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :nombre, "Nombre" %>
          <%= f.text_field :nombre, class: "form-control", placeholder: "Introduce el Nombre" %>     
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
        </div>
      </div>
      <div class="col-md-5">
          <div class="form-group">
          <%= f.label :telefono, "Teléfono 1" %>
          <%= f.text_field :telefono, class: "form-control", placeholder: "Introduce un teléfono fijo o móvil" %>     
        </div>
      </div>
      </div>
      
      <div class="row">
      <div class="col-md-6">
        

         
        <div class="form-group">
          <%= f.label :domicilio, "Domicilio" %>
          <%= f.text_field :domicilio, class: "form-control", placeholder: "Introduce el Domicilio Fiscal completo" %>     
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
        </div>
      </div>
      <div class="col-md-5">
          <div class="form-group">
          <%= f.label :movil, "Teléfono 2" %>
          <%= f.text_field :movil, class: "form-control", placeholder: "Introduce un segundo teléfono fijo o móvil" %>     
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-3">   
          <div class="form-group">
          <%= f.label "Provincia" %>
        <%= collection_select :provincia, :id, Provincia.order(:denominacion),:id,:denominacion, {:selected => @solicitud.municipio.provincia_id}, {:class => "form-control"} %>      
      </div>
      </div>
        <div class="col-md-3"> 
          <div id="municipios">
          <div class="form-group">
          <%= f.label :municipio, "Municipio" %>
          <%= f.collection_select :municipio_id, Municipio.where(provincia_id: @solicitud.municipio.provincia_id).order(:denominacion),:id,:denominacion, {:selected => @solicitud.municipio_id}, {:class => "form-control"} %>
          </div>
          </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :codigo_postal, "Código postal" %>
          <%= f.text_field :codigo_postal, class: "form-control", placeholder: "Código Postal" %>     
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :nacionalidad, "Nacionalidad" %>
          <%= f.collection_select :nacionalidad_id, Nacionalidad.order(:denominacion),:id,:denominacion, {:prompt => 'Selecciona la nacionalidad'}, {:class => "form-control disabled"} %>
        </div>
      </div>
        
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :sexo, "Sexo" %>
          <%= f.collection_select :sexo_id, Sexo.order(:denominacion),:id,:denominacion, {:prompt => 'Selecciona el sexo'}, {:class => "form-control"} %>
        </div>
      </div>
      </div>
      <div class="row">
      
      </div>
    <div class="page-header">
      <h3>Titulación Académica.</h3>
    </div>
    <div class="row">
    <div class="col-md-12">
      <div id="titulaciones">
        <div class="form-group">
          <%= f.label :titulacion, "Titulación" %>
          <%= f.collection_select :titulacion_id, Concurso.activo.joins("inner join categorias on concursos.categoria_id = categorias.id").where("categorias.tasa_id = ?", @solicitud.concurso.categoria.tasa_id).first.titulaciones.where("concursos_titulaciones.turno_id = 1"),:id,:denominacion, {}, {:class => "form-control"} %>
        </div>
      </div>
      </div>     
    </div>
    <% if @solicitud.permiso_id > 0 %>
      <div id="permiso_conduccion">
    <% else %>
      <div id="permiso_conduccion" class="hidden">   
    <% end %>
    <div class="page-header">
      <h3>Tipo de permiso de conducción.</h3>
      <div class="row">
    <div class="col-md-4">
      <div id="permisos">
        <div class="form-group">
          <%= label_tag "Permiso de Conducción" %>
          <%= collection_select :solicitud, :permiso_id, Permiso.where(id: Concurso.where(id: @solicitud.concurso_id).first.categoria.permiso_id), :id,:denominacion, {:selected => @solicitud.permiso_id}, {:class => "form-control"} %>      
</div>
      </div>
      </div>     
    </div>
    </div>
    </div>
    <% if @solicitud.grado %>
      <div id="discapacidad">
    <% else %>
    <div id="discapacidad" class ="hide">
    <% end %>
    <div class="page-header">
      <h3>Turno de discapacidad.</h3>
    </div>
  <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :grado, "Grado %" %>
          <%= f.text_field :grado, class: "form-control" %>     
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :descripcion_discapacidad, "Descripción Discapacidad" %>
          <%= f.text_field :descripcion_discapacidad, class: "form-control", placeholder: "Introduce la descripción" %>     
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <%= f.label :adaptcion, "Adaptación que solicita" %>
          <%= f.text_field :adaptacion, class: "form-control", placeholder: "Adaptación que solicita" %>     
        </div>
      </div>
    </div>
    </div>
  <div class="page-header">
      <h3>Zona a que opta para lista de espera.</h3>
    </div>
      <div class="row">
        <div id="zonas">
        <% Concurso.activo.first.zonas.each do |z| %>
          <div class="col-md-3">
            <% if z.denominacion == "RENUNCIA" %>
              <%= check_box_tag("RENUNCIA", z.id, @solicitud.zonas.include?(z)) %>            
            <% else %>
              <%= check_box_tag("zona[]", z.id, @solicitud.zonas.include?(z)) %>
            <% end %>
            <%= f.label :zona, z.denominacion, class: "small" %>
          </div>
        <% end %>
        </div>
      </div>
    <div class="page-header">
    </div>
  
  <p></p>
      <div class="row">
      <div class="col-md-12">
        <%= f.submit "Enviar", class: "btn btn-lg btn-primary" %>
      </div>
      </div>
 <% end %>