<div class="btn-group dropdown">
  <%= link_to "/solicitudes/imprimir/#{params[:grupo]}/#{params[:concurso]}/#{params[:turno]}/#{params[:estado]}.pdf" do %>
    <button class="btn btn-primary btn-sm">
      <i class="icon-print"></i>
      Imprimir
    </button>
  <% end %>
</div>
<div class="btn-group dropdown">
  <%= link_to "/solicitudes/imprimir/#{params[:grupo]}/#{params[:concurso]}/#{params[:turno]}/#{params[:estado]}.xls" do %>
    <button class="btn btn-success btn-sm">
      <i class="icon-bar-chart"></i>
      XLS
    </button>
  <% end %>
</div>