<div class="row">
  <div class="col-sm-12">
    <div style="margin-bottom:0;" class="box bordered-box blue-border">
      <div class="box-header blue-background">
        <div id="titulo_solicitudes" class="title">Listado de Solicitudes (<%= @solicitudes.total_count %>)</div>
        <div class="actions">
          <a href="#" class="btn box-collapse btn-xs btn-link"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-no-padding">
        <div class="responsive-table">
          <div class="scrollable-area">
            <br>
            <div class="row">
              <div class="col-md-3">   
                <div class="form-group">
                  <%= collection_select :grupo, :id, Tasa.all,:id,:denominacion, {:prompt => 'Selecciona un Grupo'}, {:class => "form-control"} %>
                </div>
              </div>
              <div class="col-md-3"> 
                <div id="concurso">
                  <div class="form-group">
                    <%= collection_select :concurso, :id, Concurso.all,:id,:con, {:prompt => 'Selecciona un Concurso'}, {:class => "form-control"} %>
                  </div>
                </div>
              </div>
              <div class="col-md-3">   
                <div class="form-group">
                  <%= collection_select :turno, :id, Turno.order(:denominacion),:id,:denominacion, {:prompt => 'Selecciona un Turno'}, {:class => "form-control"} %>      
                </div>
              </div>
              <div class="col-md-3">   
                <div class="form-group">
                  <%= collection_select :estado, :id, Estado.order(:id),:id,:denominacion, {:prompt => 'Selecciona un Estado'}, {:class => "form-control"} %>      
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                  
              <div class="form-group">
            <input type="text" id="nif_carta_pago" class="form-control" placeholder="Nif / Carta de Pago">
          </div>
              </div>
              <div class="col-md-3" id ="imprimir">         
                <div class="btn-group dropdown">
                  <%= link_to "/solicitudes/imprimir/0/0/0/0.pdf" do %>
                    <button class="btn btn-primary btn-sm">
                      <i class="icon-print"></i>
                      Imprimir
                    </button>
                  <% end %>
                </div>
                <div class="btn-group dropdown">
                  <%= link_to "/solicitudes/imprimir/0/0/0/0.xls" do %>
                    <button class="btn btn-success btn-sm">
                      <i class="icon-bar-chart"></i>
                      XLS
                    </button>
                  <% end %>
                </div>
              </div>
            </div>
            <br>
            <div id="tabla_solicitudes">
              <%= render 'tabla_solicitudes' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>