<table id="solicitudes" class='table table-bordered table-striped'>
  <!-- we need thead because of ordering controls -->
  <thead>
    <tr>
      <th width="10%">#</th>
      <th>nif</th>
      <th>pago</th>
      <th>estado</th>
      <th width="11%">Acciones</th>
    </tr>             
  </thead>
  <tbody>
    <% @solicitudes.each do |e| %>
      <tr>
        <td width="10%"><%= e.id %></td>
        <td><%= e.nif%></td>
        <td><%= e.pago.carta + " " + e.pago.verificacion %></td>
        <td><%= e.estado.denominacion %></td>
        <td width="11%">
          <div class="text-right">   
            <div class="text-right">                     
                      <a id="Editar" href="/solicitudes/<%= e.id %>/edit" class="btn btn-success btn-xs"> 
                         <i class="icon-edit"></i>
                      </a>
            <a id="Ver" href="/solicitudes/<%= e.id %>" class="btn btn-primary btn-xs"> 
              <i class="icon-eye-open"></i>
            </a>            
            </a>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>                  
</table>
<%= paginate @solicitudes, :remote => true %>