<% if params[:id].to_i == 0 %>
  $('#solicitud_codigo_postal').val("");
<% else %>
  $("#municipios").html('<%= escape_javascript(render("actualiza_municipios")) %>');
  $('#solicitud_codigo_postal').val("<%= @codigo_postal %>");
<% end %>