$("#titulaciones").html('<%= escape_javascript(render("actualiza_titulaciones")) %>');
<% concurso = Concurso.activo.find(params[:id]) %>
<% params[:subid] = concurso.turnos.first.id %>
<% params[:id] = concurso.categoria.id %>
$("#convocatoria").html('<%= escape_javascript(render("actualiza_convocatoria")) %>');
<% params[:id] = concurso.id %>
$("#zonas").html('<%= escape_javascript(render("actualiza_zonas")) %>');
$("#turnos").html('<%= escape_javascript(render("actualiza_turnos")) %>');
$("#permisos").html('<%= escape_javascript(render("actualiza_permiso")) %>');
<% if Concurso.where(id: params[:id]).first.categoria.permiso_id > 0 %>
  $('#permiso_conduccion').fadeIn('slow').removeClass('hidden');
<% else %>
  $('#permiso_conduccion').fadeOut('slow');
<% end %>
<% if Concurso.where(id: params[:id]).first.categoria.edad_minima == 18 %>
  $('#fecha_nacimiento').html('<%= escape_javascript(render("fecha_nacimiento18")) %>');
<% else %>
  $('#fecha_nacimiento').html('<%= escape_javascript(render("fecha_nacimiento16")) %>');
<% end %>  
$(document).ready(function() {
    $("#RENUNCIA").change(function() {
        if ($(this).is(':checked')) {
            $('input[name="zona[]"]').attr('checked', false);
            $('input[name="zona[]"]').attr('disabled', true);
        } else {
            $('input[name="zona[]"]').attr('disabled', false);
        }
    });
var turno = $('select#solicitud_turno_id :selected').val();
var categoria = $('select#solicitud_concurso_id :selected').val();

        if (turno == 2) {
            $('#discapacidad').fadeIn('slow').removeClass('hide');
        } else {
            $('#discapacidad').fadeOut('slow');
        }
        jQuery.get('/solicitudes/actualiza_codigo_categoria/' + categoria + '/' + turno, function(data) {
            
        });
 $("#solicitud_turno_id").change(function() {
        var turno = $('select#solicitud_turno_id :selected').val();
        var categoria = $('select#solicitud_concurso_id :selected').val();

        if (turno == 2) {
            $('#discapacidad').fadeIn('slow').removeClass('hide');
        } else {
            $('#discapacidad').fadeOut('slow');
        }
        jQuery.get('/solicitudes/actualiza_codigo_categoria/' + categoria + '/' + turno, function(data) {           
        });
    });
});
