$("#concursos_grupo").html('<%= escape_javascript(render("actualiza_concursos_grupo")) %>');
<% concurso = Concurso.activo.joins("inner join categorias on concursos.categoria_id = categorias.id").where("categorias.tasa_id = ?", params[:id]).first %>
<% params[:id] = concurso.id %>
$("#titulaciones").html('<%= escape_javascript(render("actualiza_titulaciones")) %>');
<% params[:subid] = concurso.turnos.first.id %>
<% params[:id] = concurso.categoria.id %>
$("#convocatoria").html('<%= escape_javascript(render("actualiza_convocatoria")) %>');
<% params[:id] = concurso.id %>
$("#zonas").html('<%= escape_javascript(render("actualiza_zonas")) %>');
$("#turnos").html('<%= escape_javascript(render("actualiza_turnos")) %>');
$("#permisos").html('<%= escape_javascript(render("actualiza_permiso")) %>');
<% if Concurso.where(id: params[:id]).first.categoria.permiso_id > 0 %>
  $('#permiso_conduccion').fadeIn('slow').removeClass('hide');
<% else %>
  $('#permiso_conduccion').fadeOut('slow');
<% end %>

$(document).ready(function() {
    $("#RENUNCIA").change(function() {
        if ($(this).is(':checked')) {
            $('input[name="zona[]"]').attr('checked', false);
            $('input[name="zona[]"]').attr('disabled', true);
        } else {
            $('input[name="zona[]"]').attr('disabled', false);
        }
    });

    
   var turno = $('select#solicitud_turno_id :selected').val();
var categoria = $('select#solicitud_concurso_id :selected').val();

        if (turno == 2) {
            $('#discapacidad').fadeIn('slow').removeClass('hide');
        } else {
            $('#discapacidad').fadeOut('slow');
        }
        jQuery.get('/solicitudes/actualiza_codigo_categoria/' + categoria + '/' + turno, function(data) {
            
        });
$("#solicitud_turno_id").change(function() {
        var turno = $('select#solicitud_turno_id :selected').val();
        var categoria = $('select#solicitud_concurso_id :selected').val();

        if (turno == 2) {
            $('#discapacidad').fadeIn('slow').removeClass('hide');
        } else {
            $('#discapacidad').fadeOut('slow');
        }
        jQuery.get('/solicitudes/actualiza_codigo_categoria/' + categoria + '/' + turno, function(data) {
            
        });

    });
    $("#solicitud_concurso_id").change(function() {
        var concurso = $('select#solicitud_concurso_id :selected').val();
        jQuery.get('/solicitudes/actualiza_titulaciones/' + concurso, function(data) {

        })
        return false;
    }); 
    
    
    
});
