$('#concurso').html('<%= escape_javascript(render("concurso")) %>');

function actualizar_solicitudes() {
        var grupo = $('select#grupo_id :selected').val();
        var concurso = $('select#concurso_id :selected').val();
        var turno = $('select#turno_id :selected').val();
        var estado = $('select#estado_id :selected').val();
        if (!grupo) {
            grupo = 0;
        }
        if (!concurso) {
            concurso = 0;
        }
        if (!turno) {
            turno = 0;
        }
        if (!estado) {
            estado = 0;
        }
        jQuery.get('/solicitudes?concurso=' + concurso + '&grupo=' + grupo + '&turno=' + turno + '&estado=' + estado, function(data) {
        });
    }
    
$("#concurso_id").change(function() {
  actualizar_solicitudes();
  return false;
});