<div class="row">
  <div class="col-sm-12">
    <div class="page-header">

      <!-- page title -->
      <h1 class="pull-left">
        <i class="icon-edit"></i>
        <span>Verificar Solicitud</span>
      </h1>
      <!-- breadcrumbs -->
      <%= render 'layouts/miguitas' %>
    </div>
  </div>  
  <%= render 'errores' %>
  <div class="box">
    <div class="box-content">
      <div class="btn-toolbar">
        <div class="btn-group dropdown">

          <%= link_to solicitudes_path do %>
            <button class="btn btn-primary btn-sm">
              <i class="icon-mail-reply"></i>
              Atrás
            </button>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
<div class='box-content'>
  <%= form_for(@solicitud) do |f| %>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :turno, "Turno" %>
          <input type="text" class = "form-control" value="<%= @solicitud.turno.denominacion %>" disabled>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :turno, "Carta de Pago" %>
          <input type="text" class = "form-control" value="<%= @solicitud.pago.carta + " " + @solicitud.pago.verificacion %>" disabled>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :estado %>
          <input type="text" class = "form-control" value="<%= @solicitud.estado.denominacion %>" disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
      <% @solicitud.motivos.each do |m| %>
        <%= m.denominacion %><br>
      <% end %>
        </div>
      </div>
      
    </div>
  

  <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :concurso, "Concurso" %>
          <input type="text" class = "form-control" value="<%= @solicitud.concurso.categoria.denominacion %>" disabled>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :codigo, "Código Categoría" %>
          <%
          categoria = @solicitud.concurso.id
          turno = @solicitud.turno.id
          categoria_informix = Informix.where("concurso_id = ? and turno_id = ?", categoria, turno).first.codigo
        %>
          <input type="text" class = "form-control" value="<%= categoria_informix %>" disabled>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :fecha_doe, "Fecha DOE" %>
          <input type="text" class = "form-control" value="<%= Convocatoria.first.fecha_doe.strftime("%d-%m-%Y") %>" disabled>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :nombre, "Nombre Completo" %>
          <%= f.text_field :nombre, class: "form-control", value: @solicitud.nombre + " " + @solicitud.apellido1 + " " + @solicitud.apellido2, disabled: true %>     
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <%= f.label :nif, "NIF/NIE" %>
            <%= f.text_field :nif, class: "form-control", placeholder: "Introduce el Nif", disabled: true %>     
            </div>
          </div>
        </div>
        <p></p>


      <% end %>

      <div class="row">
        <div class="col-md-3">
          
        </div>
        <div class="col-md-3">
          <%= form_for :ficheros, method: "POST",:url => {action: "add_pdf"}, :html => {id: "formulario_ficheros", :multipart => true, class: "form form-horizontal"} do |f| %>
              <div class="form-group">
                <%= f.submit "Añadir Fichero", class: "btn btn-lg btn-primary" %>
                </div>

                <div class="form-group">

                <%= f.file_field :fichero, class: "form-control input-lg" %>
                <p class="help-block">Elige un archivo para asociar.</p>

                </div>

                  <input type="hidden" name="id" value="<%= @solicitud.id %>">

                <% end %>
              </div>
            </div>

          </div>