<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">GRUPO: <%= @grupo %> </Data></Cell>        
      </Row>
      <Row>
        <Cell><Data ss:Type="String">ESPECIALIDAD: <%= @concurso %> </Data></Cell>        
      </Row>
      <Row>
        <Cell><Data ss:Type="String">TURNO: <%= @turno %> </Data></Cell>        
      </Row>
      <Row>
        <Cell><Data ss:Type="String">ESTADO: <%= @estado %> </Data></Cell>        
      </Row>
      <Row>
        <Cell><Data ss:Type="String"> </Data></Cell>        
      </Row>
      <% if params[:estado] == 5.to_s %>
        <Row>
          <Cell><Data ss:Type="String">Primer Apellido</Data></Cell>
          <Cell><Data ss:Type="String">Segundo Apellido</Data></Cell>
          <Cell><Data ss:Type="String">Nombre</Data></Cell>
          <Cell><Data ss:Type="String">NIF</Data></Cell>
          <Cell><Data ss:Type="String">Motivo</Data></Cell>
        </Row>
        <% @solicitudes.each do |solicitud| %>
        <% motivos = Array.new %>
        <% s.motivos.each do |m| %>
          <% motivos << m.denominacion %>
        <% end %>
          <Row>
            <Cell><Data ss:Type="String"><%= solicitud.apellido1.mb_chars.upcase %></Data></Cell>
            <Cell><Data ss:Type="String"><%= solicitud.apellido2.mb_chars.upcase %></Data></Cell>
            <Cell><Data ss:Type="String"><%= solicitud.nombre.mb_chars.upcase %></Data></Cell>
            <Cell><Data ss:Type="String"><%= solicitud.nif.mb_chars.upcase %></Data></Cell>
            <Cell><Data ss:Type="String"><%= motivos.join(", ") %></Data></Cell>
          </Row>
        <% end %>
      <% else %>
        <% if @turno == "Discapacidad" %>
          <Row>
            <Cell><Data ss:Type="String">Primer Apellido</Data></Cell>
            <Cell><Data ss:Type="String">Segundo Apellido</Data></Cell>
            <Cell><Data ss:Type="String">Nombre</Data></Cell>
            <Cell><Data ss:Type="String">NIF</Data></Cell>
            <Cell><Data ss:Type="String">Adaptación</Data></Cell>
          </Row>
          <% @solicitudes.each do |solicitud| %>
            <Row>
              <Cell><Data ss:Type="String"><%= solicitud.apellido1.mb_chars.upcase %></Data></Cell>
              <Cell><Data ss:Type="String"><%= solicitud.apellido2.mb_chars.upcase %></Data></Cell>
              <Cell><Data ss:Type="String"><%= solicitud.nombre.mb_chars.upcase %></Data></Cell>
              <Cell><Data ss:Type="String"><%= solicitud.nif.mb_chars.upcase %></Data></Cell>
              <Cell><Data ss:Type="String"><%= solicitud.adaptacion %></Data></Cell>
            </Row>
          <% end %>
        <% else %>
          <Row>
            <Cell><Data ss:Type="String">Primer Apellido</Data></Cell>
            <Cell><Data ss:Type="String">Segundo Apellido</Data></Cell>
            <Cell><Data ss:Type="String">Nombre</Data></Cell>
            <Cell><Data ss:Type="String">NIF</Data></Cell>
          </Row>
          <% @solicitudes.each do |solicitud| %>
            <Row>
              <Cell><Data ss:Type="String"><%= solicitud.apellido1.mb_chars.upcase %></Data></Cell>
              <Cell><Data ss:Type="String"><%= solicitud.apellido2.mb_chars.upcase %></Data></Cell>
              <Cell><Data ss:Type="String"><%= solicitud.nombre.mb_chars.upcase %></Data></Cell>
              <Cell><Data ss:Type="String"><%= solicitud.nif.mb_chars.upcase %></Data></Cell>
            </Row>
          <% end %>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>