$('#tabla_solicitudes').html('<%= escape_javascript(render("tabla_solicitudes")) %>');
$('#titulo_solicitudes').html('Listado de Solicitudes (<%= @solicitudes.total_count %>)');
$('#imprimir').html('<%= escape_javascript(render("imprimir")) %>');