<div class="row">
  <div class="col-sm-12">
    <div style="margin-bottom:0;" class="box bordered-box blue-border">
      <div class="box-header blue-background">
        <div class="title">Listado de Titulaciones</div>
        <div class="actions">
          <a href="#" class="btn box-collapse btn-xs btn-link"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-no-padding">
        <div class="responsive-table">
          <div class="scrollable-area">

            <table id="tabla_titulaciones" class='data-table-column-filter table table-bordered table-striped dataTable' data-source="<%= titulaciones_url(format: "json") %>">
                   <!-- we need thead because of ordering controls -->
                   <thead>
                <tr>
                  <th width="10%">#</th>
                  
                    
                      <th>denominacion</th>
                    
                  
                    
                      <th>codigo</th>
                    
                  
                    
                  
                  <th width="11%">Acciones</th>
                </tr>             
              </thead>
              <tbody>
                <% @titulaciones.each do |e| %>
                <tr>
                  <td width="10%"><%= e.id %></td>
                  
                    
                      <td><%= e.denominacion%></td>
                      
                    
                    
                      <td><%= e.codigo%></td>
                      
                    
                    
                    
                  <td width="11%">
                    <div class="text-right">                     
                      <a id="Editar" href="/titulaciones/<%= e.id %>/edit" class="btn btn-success btn-xs"> 
                         <i class="icon-edit"></i>
                      </a> 
                      <a rel="nofollow" id="Borrar" href="/titulaciones/<%= e.id %>" data-method="delete" data-confirm="¿Seguro que quieres borrar este Titulacion?" class="btn btn-danger btn-xs">
                         <i class="icon-remove"></i>
                      </a>
                    </div>

                  </td>
                </tr>
                <% end %>
              </tbody>       
              <tfoot>
                <tr>
                  <th>Id</th>
                  
                    
                      <th>denominacion</th>
                    
                  
                    
                      <th>codigo</th>
                    
                  
                    
                  
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>