<div class="box">
  <div class="box-content">
    <div class="btn-toolbar">
      <div class="btn-group dropdown">

        <%= link_to new_categoria_path do %>
        <button class="btn btn-primary btn-sm">
          <i class="<%= boton_categoria%>"></i>
          Nuevo Categoria
        </button>
        <% end %>

      </div>
    </div>
  </div>
</div>