<div class="box">
  <div class="box-content">
    <div class="btn-toolbar">
      <div class="btn-group dropdown">

        <%= link_to new_convocatoria_path do %>
        <button class="btn btn-primary btn-sm">
          <i class="<%= boton_convocatoria%>"></i>
          Nuevo Convocatoria
        </button>
        <% end %>

      </div>
    </div>
  </div>
</div>