<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-header blue-background">
        <% if params[:action] == "new" %>
        <div class="title">Nuevo Convocatoria</div>
        <% else %>
        <div class="title">Editar Convocatoria</div>
        <% end %>
        <div class="actions">
          <a href="#" class="btn box-collapse btn-xs btn-link"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content">        
        <%= form_for @convocatoria, :html => {id: "new_convocatoria", class: "form form-horizontal"} do |f| %>
        
          
            
              
                
                <div class="form-group">
                  <%= f.label :denominacion, class: "control-label col-sm-3 col-sm-3" %>
                  <div class="col-sm-4 controls">
                    <%= f.text_field :denominacion, class: "form-control", placeholder: "Introduce la denominación" %>
                  </div>
                </div>
                
   
                <div class="form-group">
                  <%= f.label :fecha_doe, class: "control-label col-sm-3 col-sm-3" %>
                  <div class="col-sm-4 controls">
                  <% if params[:action] == "edit" %>
                    <%= f.text_field :fecha_doe, class: "form-control", value: @convocatoria.fecha_doe.strftime("%d-%m-%Y"), "data-mask" => "99-99-9999" %>
                  <% else %>
                    <%= f.text_field :fecha_doe, class: "form-control", placeholder: "Introduce la fecha del DOE", "data-mask" => "99-99-9999" %>
                  <% end %>
                  </div>
                </div>
        
               
                
       
        <div class="form-actions">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
              <%= f.submit class: "btn btn-primary" do %>
              <i class="icon-save"></i>            
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>