<div class="box">
  <div class="box-content">
    <div class="btn-toolbar">
      <div class="btn-group dropdown">

        <%%= link_to <%= @variables %>_path do %>
          <button class="btn btn-primary btn-sm">
            <i class="icon-mail-reply"></i>
            Nuevo <%= @modelo %>
          </button>
        <%% end %>
      </div>
    </div>
  </div>
  </div>