<div class="row">
  <div class="col-sm-12">
    <div style="margin-bottom:0;" class="box bordered-box blue-border">
      <div class="box-header blue-background">
        <div class="title">Listado de <%= @constructor %></div>
        <div class="actions">
          <a href="#" class="btn box-collapse btn-xs btn-link"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-no-padding">
        <div class="responsive-table">
          <div class="scrollable-area">

            <table id="<%= @variables %>" class='data-table-column-filter table table-bordered table-striped dataTable' data-source="<%%= <%= @variables %>_url(format: "json") %>">
                   <!-- we need thead because of ordering controls -->
                   <thead>
                <tr>
                  <th width="10%">#</th>
                  <% attributes.each do |atributo| %>
                    <% if atributo.name != "activo" %>
                      <th><%= atributo.name %></th>
                    <% end %>
                  <% end %>
                  <th width="11%">Acciones</th>
                </tr>             
              </thead>
              <tbody>
                <%% @estilos.each do |e| %>
                <tr>
                  <td width="10%"><%%= e.id %></td>
                  <% attributes.each do |atributo| %>
                    <% if atributo.name != "activo" %>
                      <td><%%= e.<%= atributo.name %>%></td>
                      <% end %>
                    <% end %>
                  <td width="11%">
                    <div class="text-right">                     
                      <a id="Editar" href="/<%= @variables %>/<%%= e.id %>/edit" class="btn btn-success btn-xs"> 
                         <i class="icon-edit"></i>
                      </a> 
                      <a rel="nofollow" id="Borrar" href="/<%= @variables %>/<%%= e.id %>" data-method="delete" data-confirm="¿Seguro que quieres borrar este <%= @modelo %>?" class="btn btn-danger btn-xs">
                         <i class="icon-remove"></i>
                      </a>
                    </div>

                  </td>
                </tr>
                <%% end %>
              </tbody>       
              <tfoot>
                <tr>
                  <th>Id</th>
                  <% attributes.each do |atributo| %>
                    <% if atributo.name != "activo" %>
                      <th><%= atributo.name %></th>
                    <% end %>
                  <% end %>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>