<div class="row">
  <div class="col-sm-12">
    <div class="page-header">

      <!-- page title -->
      <h1 class="pull-left">
        <i class="icon-edit"></i>
        <span><%= @constructor %></span>
      </h1>
      <!-- breadcrumbs -->
      <%%= render 'layouts/miguitas' %>
    </div>
  </div>
  <%%= render 'errores' %>
  <div class="box">
    <div class="box-content">
      <div class="btn-toolbar">
        <div class="btn-group dropdown">

          <%%= link_to <%= @variables %>_path do %>
          <button class="btn btn-primary btn-sm">
            <i class="icon-mail-reply"></i>
            Atrás
          </button>
          <%% end %>

        </div>
      </div>
    </div>
  </div>
  <%%= render 'form' %>
</div>