<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-header blue-background">
        <% if params[:action] == "new" %>
          <div class="title">Nuevo Usuario</div>
        <% else %>
          <div class="title">Editar Usuario</div>
        <% end %>
        <div class="actions">
          <a href="#" class="btn box-collapse btn-xs btn-link"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content">
        <%= form_for @usuario, :html => {:novalidate => 'novalidate', class: "form form-horizontal validate-form"} do |f| %>
            <div class="form-group">
              <%= f.label :nombre, "Nombre", class: "control-label col-sm-3 col-sm-3" %>
              <div class="col-sm-4 controls">
                <%= f.text_field :nombre, class: "form-control", placeholder: "Introduce el Nombre del Usuario", "data-rule-required" => "true", "data-rule-minlength" => "2" %>     
              </div>
            </div>
            <div class="form-group">
              <%= f.label :apellidos, "Apellidos", class: "control-label col-sm-3 col-sm-3" %>
              <div class="col-sm-4 controls">
                <%= f.text_field :apellidos, class: "form-control", placeholder: "Introduce los Apellidos del Usuario", "data-rule-required" => "true", "data-rule-minlength" => "2" %>     
              </div>
            </div>
            <div class="form-group">
              <%= f.label :usuario, "Usuario", class: "control-label col-sm-3 col-sm-3" %>
              <div class="col-sm-4 controls">
                <%= f.text_field :usuario, class: "form-control", placeholder: "Introduce el Usuario", "data-rule-required" => "true", "data-rule-minlength" => "2" %>     
              </div>
            </div>
            <div class="form-group">
              <%= f.label :correo, "Correo electrónico", class: "control-label col-sm-3 col-sm-3" %>
                <div class="col-sm-4 controls">
                  <%= f.text_field :correo, class: "form-control", placeholder: "Introduce el correo electrónico del Usuario", "data-rule-required" => "true", "data-rule-email" => "true" %>     
                </div>
              </div>
            <div class="form-group">
                <%= f.label :password, "Password", class: "control-label col-sm-3 col-sm-3" %>
                <div class="col-sm-4 controls">
                  <%= f.password_field :password, class: "form-control", placeholder: "Introduce el password del Usuario", "data-rule-required" => "true", "data-rule-password" => "true", "data-rule-minlength" => "6" %>     
                </div>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation, "Confirma la Password", class: "control-label col-sm-3 col-sm-3" %>
                <div class="col-sm-4 controls">
                  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Introduce el password del Usuario", "data-rule-required" => "true", "data-rule-password" => "true", "data-rule-minlength" => "6", "data-rule-equalto" => "#usuario_password" %>     
                </div>
              </div>
        <div class="form-group">    
                  <%= f.label :roles, class: "control-label col-sm-3 col-sm-3"%></p>
                  <% for rol in Usuario::ROLES %>  
                    <%= check_box_tag "usuario[roles][]", rol, @usuario.roles.include?(rol)  %>  
                    <%= h rol.humanize %>  
                  <% end %>  
                    <%= hidden_field_tag "usuario[roles][]"%> 
              </div>
            <div class="form-actions">
              <div class="row">
                <div class="col-sm-9 col-sm-offset-3">
                    <%= f.submit class: "btn btn-primary" do %>
                    <i class="icon-save"></i>            
                    <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>