<div class="row">
  <div class="col-sm-12">
    <div style="margin-bottom:0;" class="box bordered-box blue-border">
      <div class="box-header blue-background">
        <div class="title">Listado de Usuarios</div>
        <div class="actions">
          <a href="#" class="btn box-collapse btn-xs btn-link"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content box-no-padding">
        <div class="responsive-table">
          <div class="scrollable-area">
            <table id="usuarios" class='data-table-column-filter table table-bordered table-striped dataTable' data-source="<%= usuarios_url(format: "json") %>">
              <!-- we need thead because of ordering controls -->
              <thead>
                <tr>
                  <th width="10%">#</th>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th>Usuario</th>
                  <th>Roles</th>
                  <th width="11%">Acciones</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td width="10%"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td width="11%"></td>
                    </tr>
                </tbody>        
                <tfoot>
                  <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Usuario</th>
                    <th>Rol</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
