<div class="row">
  <div class="col-sm-12">
    <div class="page-header">

      <!-- page title -->
      <h1 class="pull-left">
        <i class="icon-table"></i>
        <span>Usuarios</span>
      </h1>

      <!-- breadcrumbs -->
      <%= render 'layouts/miguitas' %>
    </div>
  </div>
  <%= render "layouts/mensajes" %>
  <div class="box">
  <div class="box-content">
    <div class="btn-toolbar">
      <div class="btn-group dropdown">

        <%= link_to new_usuario_path do %>
          <button class="btn btn-primary btn-sm">
            <i class="icon-user"></i>
            Nuevo Usuario
          </button>
        <% end %>

      </div>
    </div>
  </div>
  </div>
</div>
  <%= render 'usuarios' %>
