<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-header blue-background">
        <% if params[:action] == "new" %>
        <div class="title">Nuevo Concurso</div>
        <% else %>
        <div class="title">Editar Concurso</div>
        <% end %>
        <div class="actions">
          <a href="#" class="btn box-collapse btn-xs btn-link"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content">        
        <%= form_for @concurso, :html => {id: "new_concurso", class: "form form-horizontal"} do |f| %>
                               
                
              <div class="form-group">
                <%= f.label :convocatoria_id, class: "control-label col-sm-3 col-sm-3" %>
                <div class="col-sm-4 controls">
                  <%= f.collection_select :convocatoria_id, Convocatoria.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
                </div>
              </div>
            
              <div class="form-group">
                <%= f.label :turno_id, class: "control-label col-sm-3 col-sm-3" %>
                <div class="col-sm-4 controls">
                  <% Turno.all.each do |t| %>
                    
                      <%= check_box_tag("turnos[]", t.id,@concurso.turnos.include?(t)) %> <%= t.denominacion %>
                  <% end %>
                </div>
              </div>
        
              <div class="form-group">
                <%= f.label :categoria_id, "Categoría", class: "control-label col-sm-3 col-sm-3" %>
                <div class="col-sm-4 controls">
                  <%= f.collection_select :categoria_id, Categoria.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
                </div>
              </div>
          
              <div class="form-group">
                <%= f.label :categoria_informix, "Categoría Informix", class: "control-label col-sm-3 col-sm-3" %>
                <div class="col-sm-4 controls">
                  <%= text_field_tag :categoria_informix,nil, class: "form-control", placeholder: "Introduce la Categoría de INFORMIX" %>

                </div>
              </div>
                            
                <div class="form-group">
                  <%= f.label :modelo_pdf, class: "control-label col-sm-3 col-sm-3" %>
                  <div class="col-sm-4 controls">
                    <%= f.number_field :modelo_pdf, class: "form-control", placeholder: "Introduce el modelo_pdf" %>
                  </div>
                </div>
              <div class="form-group">
                <div class="col-sm-3 controls">
                </div>
                <div class="col-sm-4 controls">

              <div id="tabla_titulaciones">             
                <% if params[:action] == "edit" %>
                  <% @concurso.titulaciones.each do |t| %>
                <div class="alert alert-info alert-dismissable"><a href="#" data-dismiss="alert" class="close">×</a><i class="icon-circle-blank"></i> <%= t.denominacion %><input type="hidden" name="titulaciones[]" value="<%= t.id %>"></div>
                  <% end %>
                <% end %>
              </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :titulacion, class: "control-label col-sm-3 col-sm-3" %>
                <div class="col-sm-4 controls">
                  <%= collection_select :titulacion,:id, Titulacion.order(:denominacion),:id,:denominacion, {:prompt => 'Selecciona las titulaciones'}, {:class => "form-control select2 select2-with-searchbox"} %>
                </div>
              </div>
          
              <div class="form-group">
                <div class="col-sm-3 controls">
                </div>
                <div class="col-sm-4 controls">

              <div id="tabla_zonas">
                <% if params[:action] == "edit" %>
                  <% @concurso.zonas.each do |t| %>
                <div class="alert alert-warning alert-dismissable"><a href="#" data-dismiss="alert" class="close">×</a><i class="icon-circle-blank"></i> <%= t.denominacion %><input type="hidden" name="zonas[]" value="<%= t.id %>"></div>
                  <% end %>
                <% end %>              
              </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :zona, class: "control-label col-sm-3 col-sm-3" %>
                <div class="col-sm-4 controls">
                  <%= collection_select :zona,:id, Zona.order(:id),:id,:denominacion, {:prompt => 'Selecciona las zonas'}, {:class => "form-control select2 select2-with-searchbox"} %>
                </div>
              </div>
             
        
        
        <div class="form-actions">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
              <%= f.submit class: "btn btn-primary" do %>
              <i class="icon-save"></i>            
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <%= render 'titulaciones' %>
    </div>
  </div>
</div>