<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div class="box-header blue-background">
        <%% if params[:action] == "new" %>
        <div class="title">Nuevo <%= @modelo %></div>
        <%% else %>
        <div class="title">Editar <%= @modelo %></div>
        <%% end %>
        <div class="actions">
          <a href="#" class="btn box-collapse btn-xs btn-link"><i></i>
          </a>
        </div>
      </div>
      <div class="box-content">        
        <%%= form_for @<%= @variable %>, :html => {:novalidate => 'novalidate', class: "form form-horizontal validate-form"} do |f| %>
        <% attributes.each do |attribute| %>
          <% if attribute.password_digest? %>
            <%% if params[:action] == "new" %>
            <div class="form-group">
              <%%= f.label :password, "Password", class: "control-label col-sm-3 col-sm-3" %>
              <div class="col-sm-4 controls">
                <%%= f.password_field :password, class: "form-control", placeholder: "Introduce el password del Usuario", "data-rule-required" => "true", "data-rule-password" => "true", "data-rule-minlength" => "6" %>     
              </div>
            </div>
            <div class="form-group">
              <%%= f.label :password_confirmation, "Confirma la Password", class: "control-label col-sm-3 col-sm-3" %>
              <div class="col-sm-4 controls">
                <%%= f.password_field :password_confirmation, class: "form-control", placeholder: "Introduce el password del Usuario", "data-rule-required" => "true", "data-rule-password" => "true", "data-rule-minlength" => "6", "data-rule-equalto" => "#usuario_password" %>     
              </div>
            </div>
            <%% end %>
          <% else %>
            <% if attribute.reference? %>
              <div class="form-group">
                <%%= f.label :<%= attribute.column_name %>, class: "control-label col-sm-3 col-sm-3" %>
                <div class="col-sm-4 controls">
                  <%%= f.collection_select :<%= attribute.column_name %>, <%= attribute.name.camelize %>.order(:denominacion),:id,:denominacion, {}, {:class => "form-control"} %>
                </div>
              </div>
            <% else %>
              <% if attribute.name != "activo" %>
                <% if attribute.field_type == :check_box %>
            
                <div class="form-group">
                  <%%= f.label :<%= attribute.name %>, class: "control-label col-sm-3" %>
                  <div class="col-md-4">  
                    <div class="checkbox">
                      <label>
                        <%%= f.check_box :<%= attribute.name %> %>                      
                      </label>
                    </div>
                  </div>
                </div>           
                <% else %>
                <div class="form-group">
                  <%%= f.label :<%= attribute.name %>, class: "control-label col-sm-3 col-sm-3" %>
                  <div class="col-sm-4 controls">
                    <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, class: "form-control", placeholder: "Introduce el <%= attribute.name %>", "data-rule-required" => "true", "data-rule-minlength" => "2" %>
                  </div>
                </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <div class="form-actions">
          <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
              <%%= f.submit class: "btn btn-primary" do %>
              <i class="icon-save"></i>            
              <%% end %>
            </div>
          </div>
        </div>
        <%% end %>
      </div>
    </div>
  </div>
</div>