<div class="box">
  <div class="box-content">
    <div class="btn-toolbar">
      <div class="btn-group dropdown">

        <%= link_to provincias_path do %>
          <button class="btn btn-primary btn-sm">
            <i class="icon-mail-reply"></i>
            Nuevo Provincia
          </button>
        <% end %>
      </div>
    </div>
  </div>
  </div>