<section id="content">
  <div class="container">
    <div class="row" id="content-wrapper">
      <div class="col-xs-12">
        <!-- page header container -->    
        <%= yield %>
      </div>
    </div>
  </div>
</section>