<header>
  <nav class="navbar navbar-default">
    <!-- application logo -->
    <a class="navbar-brand" href="/">
      <!-- application logo visible on large screens -->
      <%= image_tag("flatty/sdmr.png", class: "logo", width: "81", height: "21", alt: "Sidemura") %>
        <!-- application logo visible on small screens -->
        <%= image_tag("flatty/logo_xs.svg", class: "logo", width: "21", height: "21", alt: "Sidemura") %>
        </a>

        <!-- main nav toggler (show/hide) -->
        <a class="toggle-nav btn pull-left" href="#">
          <i class="icon-reorder"></i>
        </a>

        <!-- dropdowns -->
        <ul class="nav">

          <!-- dark dropdown & user menu -->
          <li class="dropdown dark user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= image_tag("flatty/avatar.jpg", width: "23", height: "23", alt: "") %>
              <span class="user-name"><%= "#{current_user.nombre} #{current_user.apellidos}" %></span>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="user_profile.html">
                  <i class="icon-user"></i>
                  Perfil
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to(login_path, method: :delete) do %>
                  <i class="icon-signout"></i>
                  Salir
                <% end %>
              </li>
            </ul>
            <!-- ... -->
          </li>
        </ul>

        <!-- search form - hidden on phone -->
        <form action="/" class="navbar-form navbar-right hidden-xs" method="get">
          <button class="btn btn-link icon-search" name="button" type="submit"></button>
          <div class="form-group">
            <input value="" class="form-control" placeholder="Buscar..." autocomplete="off" id="q_header" name="q" type="text">
          </div>
        </form>
      </nav>
    </header>