<nav id="main-nav">
  <div class="navigation">

    <!-- search form visible on phone -->
    <div class="search">
      <form action="search_results.html" method="get">
        <div class="search-wrapper">
          <input value="" class="search-query form-control" placeholder="Buscar..." autocomplete="off" name="q" type="text">
          <button class="btn btn-link icon-search" name="button" type="submit"></button>
        </div>
      </form>
    </div>

    <!-- navigation items -->
    <ul class="nav nav-stacked">

      <!-- single navigation item -->
      <% if params[:controller] == "dashboard" %>
        <li class="active">
        <% else %>
        <li>  
        <% end %>
        <a href="/">
          <i class="icon-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      
      <!-- Administración -->
      <% if can? :manage, :all %> 

      <% if params[:controller] == "usuarios" || params[:controller] == "menus" || params[:controller] == "submenus" %>
        <li class="active">
        <% else %>
        <li>  
        <% end %>        
        <a class="dropdown-collapse" href="#">
          <i class="icon-cogs"></i>
          <span>Administración</span>
          <i class="icon-angle-down angle-down"></i>
        </a>
        <% if params[:controller] == "usuarios" || params[:controller] == "menus" || params[:controller] == "submenus" %>
          <ul class="nav nav-stacked in">
          <% else %>
            <ul class="nav nav-stacked">          
            <% end %>
            <% if params[:controller] == "usuarios" %>
              <li class="active">
              <% else %>
              <li>  
              <% end %>
              <a href="/usuarios">
                <i class="icon-user"></i>
                <span>Usuarios</span>
              </a>
            </li>
            <% if params[:controller] == "menus" %>
              <li class="active">
              <% else %>
              <li>  
              <% end %>
              <a href="/menus">
                <i class=" icon-th-large"></i>
                <span>Menus</span>
              </a>
            </li>
            <% if params[:controller] == "submenus" %>
              <li class="active">
              <% else %>
              <li>  
              <% end %>
              <a href="/submenus">
                <i class="icon-th-large"></i>
                <span>Submenus</span>
              </a>
            </li>
          </ul>
      </li>
      <% end %>
      <!-- Administración -->
      
      
      <% Menu.activo.each do |m| %>
                <% @in = false %>
      
      <!-- MENU -->
      <% if can? :manage, m.denominacion.downcase.to_sym %>
        <% m.submenus.activo.each do |s| %>
      
            <!-- SUBMENU -->

          <% if params[:controller] == s.enlace.gsub("/","").downcase.pluralize %> 
            <% @in = true %>
          <% end %>
        <% end %>
        <% if @in %>
          <li class="active">
          <% else %>
          <li>
        <% end %>
        <a class="dropdown-collapse" href="#">
          <i class="<%= m.icono %>"></i>
          <span><%= m.denominacion %></span>
          <i class="icon-angle-down angle-down"></i>
        </a>
        <% if @in %>
          <ul class="nav nav-stacked in">
          <% else %>
            <ul class="nav nav-stacked">
            <% end %>
            <% m.submenus.activo.each do |s| %>
              <% if params[:controller] == s.enlace.gsub("/","").downcase.pluralize %>
                <li class="active">
                <% else %>
                <li>  
                <% end %>
                <a href="<%= s.enlace %>">
                  <i class="<%= s.icono %>"></i>
                  <span><%= s.denominacion %></span>
                </a>
              </li>
            <% end %>   
          </ul>
          </li>
        <% end %>
          <% end %>
          <!-- MENU -->
      </ul>
  </div>
</nav>