<div class="pull-right">
  <ul class="breadcrumb">
    <li>
      <a href="index.html">
        <i class="icon-bar-chart"></i>
      </a>
    </li>
    <li class="separator">
      <i class="icon-angle-right"></i>
    </li>
    <li class="active">Grid</li>
  </ul>
</div>