<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Sidemura</title>

    <!-- this enables responsive features in browser -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!-- if you are going to support IE8 you must include these files -->
    <!--[if lt IE 9]>
      <script src='assets/javascripts/ie/html5shiv.js' type='text/javascript'></script>
      <script src='assets/javascripts/ie/respond.min.js' type='text/javascript'></script>
    <![endif]-->

  </head>
  <body>
    <%=  render 'layouts/header' %>
    <div id="wrapper">
      <div id="main-nav-bg"></div>
    <%=  render 'layouts/main_nav' %>
      
    <%=  render 'layouts/content' %>
      
    </div>
  </body>
</html>