<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Sidemura - Login de Usuario</title>

    <!-- this enables responsive features in browser -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!-- if you are going to support IE8 you must include these files -->
    <!--[if lt IE 9]>
      <script src='assets/javascripts/ie/html5shiv.js' type='text/javascript'></script>
      <script src='assets/javascripts/ie/respond.min.js' type='text/javascript'></script>
    <![endif]-->

  </head>
  <body class="contrast-red login contrast-background">
    <div class="middle-container">
      <div class="middle-row">
        <div class="middle-wrapper">
          <div class="login-container-header">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="text-center">
                    <img width="121" height="31" src="assets/images/logo_lg.svg">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="login-container">
            <div class="container">
              <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                  <h1 class="text-center title">Sidemura Login</h1>
                  <%= form_for :login, method: "POST", html: {class: "validate-form", novalidate: "novalidate"} do |f| %>
                      <% if flash[:alert] %>
                        <div class="alert alert-danger">
                          <button type="button" class="close" data-dismiss="alert">×</button>
                          <%= flash[:alert] %>
                        </div>
                      <% end %>
                      <% if flash[:notice] %>
                        <div class="alert alert-success">
                          <button type="button" class="close" data-dismiss="alert">×</button>
                          <%= flash[:notice] %>
                        </div>
                      <% end %>
                      <div class="form-group">
                        
                        
                        <div class="controls with-icon-over-input">
                          <%= f.text_field :usuario, class: "form-control", placeholder: "Introduce el Usuario", "data-rule-required" => "true", "data-rule-minlength" => "2" %>     
                          <i class="icon-user text-muted"></i>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="controls with-icon-over-input">
                        <%= f.password_field :password, class: "form-control", placeholder: "Introduce el password del Usuario", "data-rule-required" => "true", "data-rule-password" => "true", "data-rule-minlength" => "6" %>     
                          <i class="icon-lock text-muted"></i>
                          <span for="password" class="help-block has-error"></span></div>
                      </div>
                      <div class="checkbox">
                        <label for="remember_me">
                          <input type="checkbox" value="1" name="remember_me" id="remember_me">
                          Recuérdame
                        </label>
                      </div>
                      <button class="btn btn-block">Entrar</button>
                    <% end %>
                    <div class="text-center">
                      <hr class="hr-normal">
                      <a href="forgot_password.html">¿Olvidaste la contraseña?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="login-container-footer">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="text-center">
                      <a href="sign_up.html">
                        <i class="icon-user"></i>
                        ¿Problemas para acceder?
                        <strong>Ponle un mensaje al Administrador</strong>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>